html,body{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 30%;
    color: purple solid;
}

h1{
    background-image: url(../img/nave.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 90%;
    text-indent: -9999px;
}
ul {
    padding-left: 20px;
}