html,body{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 30%;
}
header a:hover{
    background-color: purple;
}
header a:hover{
    background-color: gray;
}
h1{
    background-image: url(../img/nave.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 90%;
    text-indent: -9999px;
}
ul{
    padding-left: 20px;
} 
main{
    width: 100%;
    height: 40%;
}
footer{
    width: 100%;
    height: 30%;
    clear: left;
}
header a:before{
    content: '<';
}
header a:after{
    content: '>';
}